* {
    margin:0;
    padding:0;
}
#wrapper-top{ 
    background:#fff;
    height:40px;
}
#wrapper-header{
    background:#f9f9f9; 
    border-top:1px solid #eee; 
    border-bottom:1px solid #eee;
    
}
#slider-container {
    padding : 29px 0 0 0;
    width : 760px;
    margin : 0px auto;
}
#wrapper-content{
    background:#fff;
    height:0px;
}
#wrapper-beforefooter{
    background:#f9f9f9; 
    border-top:1px solid #eee;
    height:0px;
}
#wrapper-footer{
    background:#F7F7F7;
    height:50px; 
}
.slides li{
    width: 100%;
    height: 450px;
}