body{
	font-family: Arial;
	background-color: #FFFFFF;
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:0;
	margin:0;
}
input[type=text], input[type=password], select{
	border-radius : 0px !important;
}
#wrp{
	width:75%;
	height:1024px;
	float:center;
	margin: 15px auto;
}
#header{
	/*background: url(img/bg.jpg);*/
	background-color: #4f4e53;
	width: 100%;
	height: 150px;
	color:#00FF33
	background-color: #FFFFFF;
	float: left;
	/*background-image: url('header.png');*/
}
#logo{
	width: 150px;
	height: 150px;
	margin-left: 15px;
	margin-top: 0px;
	border-radius: 75px 75px 75px 75px;
	background-color: #fff;
	float: left;
	overflow: hidden;
}
#judul-web
{
/*color:#FFFFFF;*/
color: #F8BA0B;
}
#subjudul-web
{
/*color:#FFFFFF;*/
color: #F8BA0B;
font-size: smaller;
}
.navbar-no-space{
	margin-bottom: 0px;
	border-radius: 0px;
}
.container-no-padding{
}
.menu{
width: 100%;
height: 40px;
background-color: #FFFFFF;
float: left;
}
.menu-isi{
	width: 160px;
	height: 40px;
	background-color: #FFFFFF;
	float: left;
	margin-top:60px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	margin-right: 2px;
	font-weight: bold;
}
.menu-isi:hover{
	background-color: #999999;
	font-size: 18px;	
}

.td_konten {
background-color:#CCCCCC;
}


#content{
	width: 100%;
	height: auto;
	background-color: #fff;
	float: right;
}
#content-right{
	width: 18%;
	height: auto;
	background-color:blue;
	float: left;
	padding: 1%;
}
	
.menu-nav{
	width: 100%;
	height: 30px;
	background-color: #539AF6;
	float: left;
	border-radius: 10px 0px 10px 0px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 2px;
}
.menu-nav:hover{
	background-color:#0C0;
	font-size:18px;
	transitition:width 2s;
	width:95%;
	animation:warna 2s;
}
@keyframes warna
{
	from{background-color:#CF0;}
	to{background-color:#C09;}
	
}	
	
#content-center{
	width:100%;
	height:auto;
	background-color: #A0A0A0;
	float: right;
	padding: 1%;
}
.content-isi{
	height: auto;
	background-color:#ffffff;	
	float: left;
	padding: 1%;
	border: 1px solid #000000;
	margin-bottom: 2px;
	width : 100%;
}
.con-kiri{
	width:18%;
	height:218px;
	background-color:#0066FF;
	float: left;
	padding: 1%;
}
.con{
	width:100%;
	height:165px;
	background-color:#FFFFFF;
	font-size: 5px;
	margin-top:39px;
	float: left;
	padding: 1%;
}
		
#footer{
	width: 100%;
	height: 70px;
	background-color: #F4F4F4;
	line-height: 70px;
	text-align:center;
}
#dropdown{
position:absolute;
display:inline-block;
}
.dropdown-content {
display: none;
position: absolute;
background-color:#FFFFFF;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
}
.dropdown-content a{
color: black;
padding: 12px 16px;
text-decoration: none;
display:block;
}
.dropdown-content a:hover {background-color:#f1f1f1}
.dropdown:hover .dropdown-content {
display: inline-block;
}
.dropdown:hover .droppbtn {
background-color: #3e8e41;
}
.sidebar1{
width:18%;
height:auto;
float:right;
background: transparent url(images/12.jpg)repeat;
}
.sidebar2{
width:224px;
height:150px;
float:right;
background: transparent url(images/12.jpg)repeat;
}
	
input[type=submit]
{width:70px;
height:25px;
background:linear-gradient(to bottom, #0099CC);
border:1px solid #999;
margin:8px -1px ;
background-color:#0099CC;
font-size: 12px;
color:#FFFFFF;
padding:1px;
 -webkit-box-shadow:0px 0px 20px #aaa;
    box-shadow:0px 0px 20spx #aaa;}
	
	
input[type=text],
input[type=date],
input[type=email],
input[type=password],
select
{
padding:3px;
border-radius:5px;
border:1px solid #CCC;
 /*-webkit-box-shadow:0px 0px 20px #aaa;*/
    /*box-shadow:0px 0px 20spx #aaa;*/
}	


textarea{
width:300px;
height:100px;
padding:5px;
border-radius:5px;
border:1px solid #CCC;
 -webkit-box-shadow:0px 0px 20px #aaa;
    box-shadow:0px 0px 20spx #aaa;
}

