body{
	font-family: Arial;
	background:url(.jpg) no-repeat center center fixed;
	background-color: #999999;
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:0;
	margin:0;
	}
#wrp
{
width:90%;
height:1024px;

float:center;
margin: 15px auto;
}
#header{
	background: url(header.jpg);
	width: 100%;
	height: 200px;
	background-color: #FFFFFF;
	float: left;
	/*background-image: url('header.png');*/
	}
	#logo
	{
		width: 150px;
		height: 150px;
		margin-left: 15px;
		margin-top: 25px;
		border-radius: 75px 75px 75px 75px;
		background-color: #fff;
		float: left;
		overflow: hidden;
	}
	#menu{
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
	float: left;
}
	.menu-isi{
		width: 180px;
		height: 40px;
		background-color: #FFFFFF;
		float: left;
		line-height: 40px;
		text-align: center;
		font-size: 12px;
		margin-right: 2px;
		font-weight: bold;
	}
	.menu-isi:hover{
		background-color: #FFFFFF;
		font-size: 18px;	
	}

	#content{
	width: 100%;
	height: auto;
	background-color: #fff;
	float: right;
}
	#content-right{
		width: 18%;
		height: auto;
		background-color:blue;
		float: left;
		padding: 1%;
	}
	
		.menu-nav{
			width: 100%;
			height: 30px;
			background-color: #539AF6;
			float: left;
			border-radius: 10px 0px 10px 0px;
			line-height: 30px;
			text-align: center;
			font-weight: bold;
			margin-bottom: 2px;
		}
		.menu-nav:hover{
	background-color:#0C0;
	font-size:18px;
	transitition:width 2s;
	width:95%;
	animation:warna 2s;
}
@keyframes warna
{
	from{background-color:#CF0;}
	to{background-color:#C09;}
	
	}
	
	
	#content-center{
		width:78%;
		height:auto;
		background-color: blue;
		float: right;
		padding: 1%;
	}
		.content-isi{
			width: auto;
			height: auto;
			background-color:#ffffff;	
			float: left;
			padding: 1%;
			border: 1px solid #000000;
			margin-bottom: 2px;
		}


#footer{
	width: 100%;
	height: 70px;
	background-color: #0099CC;
	line-height: 70px;
	text-align:center;
}
#dropdown{
	position:relative;
	display:inline-block;
	}
	.dropdown-content {
	display: none;
	position: relative;
	background-color:#FFFFFF;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
	}
	.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display:block;
	}
	.dropdown-content a:hover {background-color:#f1f1f1}
	.dropdown:hover .dropdown-content {
	display: inline-block;
	}
	.dropdown:hover .droppbtn {
	background-color: #3e8e41;
	}
	.sidebar1{
	width:18%;
	height:auto;
	float:right;
	background: transparent url(images/bus.jpg)repeat;
	}
	.sidebar2{
	width:224px;
	height:150px;
	float:right;
	background: transparent url(images/bus.jpg)repeat;
	}
	
