/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
.center{
	text-align: center !important;
}
.right{
	text-align: right !important;
}
.middle{
	vertical-align: middle !important;
}

.danger{
	color : red;
}

/*.btn { 
	display: inline-block; 
	*display: inline; 
	*zoom: 1; 
	padding: 4px 10px 4px; 
	margin-bottom: 0; 
	font-size: 13px; 
	line-height: 18px; 
	color: #333333; 
	text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; 
}*/

/*.btn, a.btn:visited{
	cursor: pointer;
	font-style: none;
	border-radius: 0px;
	font-size: smaller;
	text-decoration: none;
	border: solid 1px silver;
	border-radius: 0px;
}*/

/*.btn-action > img:hover{
	zoom : 1 !important;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }*/
/*.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
	color: #ffffff; 
	cursor: pointer;
	padding: 2px;
	vertical-align: middle;
}
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }*/

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html {
	overflow:scroll; 
}

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.login {
	position: absolute;
	top: 268px;
	left: 570px;
	margin: -150px 0 0 -150px;
	width: 300px;
	height: 300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input, select{
	margin-bottom: 10px; 
	/*background: rgba(0,0,0,0.3);*/
	background-color: white;
	border: solid 1px silver;
	outline: none;
	padding: 5px;
	font-size: 13px;
	color: black;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 2px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input[type=text], input[type=password], select{
	/*width : 100%;*/
}

input[type=button], input[type=submit], input[type=reset], button{
	width : auto;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
.login .login-screen form p strong {
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}
.login .login-screen form p strong {
	font-family: Times New Roman, Times, serif;
}
body{
	font-family: Arial;
	background:url(.jpg) no-repeat center center fixed;
	background-color: #FFFFFF;
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:0;
	margin:0;
	}
#wrp
{
width:90%;
height:1024%;

float:center;
margin: 15px auto;
}
#header{
	background: url(../images/er.jpg);
	width: 100%;
	/*height: 200px;*/
	color:#0033FF;
	background-color: #FFFFFF;
	float: left;
	/*background-image: url('header.png');*/
	}
	#logo
	{
		width: 150px;
		height: 150px;
		margin-left: 15px;
		margin-top: 2px;
		margin-bottom: 2px;
		border-radius: 75px 75px 75px 75px;
		background-color: #fff;
		float: left;
		overflow: hidden;
	}
	#judul-web
	{
	
	color:#000000;
	}
	.menu{
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
	float: left;
}
	.menu-isi{
		width: 150px;
		height: 40px;
		background-color: #FFFFFF;
		float: left;
		margin-top:60px;
		line-height: 40px;
		text-align: center;
		font-size: 12px;
		margin-right: 2px;
		font-weight: bold;
	}
	.menu-isi:hover{
		background-color: #999999;
		font-size: 18px;	
	}
	
	#content-center{
		width: 100%;
		height: auto;
		background-color: #CCCCCC;
		float: right;
		padding: 1%;
	}
		.content-isi{
			width: 100%;
			height: auto;
			background-color:#ffffff;	
			float: left;
			padding: 1%;
			border: 1px solid #000000;
			margin-bottom: 2px;
		}

	#footer
	{
		width: 100%;
	height: 70px;
	color:#000000;
	background-color: #F4F4F4;
	line-height: 70px;
	text-align:center;}
	
	


#dropdown{
	position:absolute;
	display:inline-block;
	}
	.dropdown-content {
	display: none;
	position: absolute;
	background-color:#FFFFFF;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
	}
	.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display:block;
	}
	.dropdown-content a:hover {background-color:#f1f1f1}
	.dropdown:hover .dropdown-content {
	display: inline-block;
	}
	.dropdown:hover .droppbtn {
	background-color: #3e8e41;
	}

.inline-flex {
    display:inline-flex;
}

.form-horizontal .control-label{
	text-align: left !important;
}