table { 
font-family: "Times New Roman", Times, serif;
width: 1252px;
margin-left:30px;
border-collapse: 
collapse; border-spacing: 0; 
}

td, th { 
border: 1px solid transparent;
color:#222;
height: 30px; 
transition: all 0.3s;
}

th {
background: #990033;
color: #FF9; 
font-weight: bold;
}

td {
background: #FAFAFA;
color:#AAA
text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }   

tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; }

.hps{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
	
.input{
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 10px;
	}
.update{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#table-edit { 
font-family: "Times New Roman", Times, serif;
width: 260px; 
border-collapse: 
collapse; border-spacing: 0; 
}
#th-new{
background: #990033;
color: #FF9; 
font-weight: bold;
border-radius: 6px 6px 0 0;
}
#td1-new{
background: #990033;
color: #FF9; 
font-weight: bold;
border-radius: 6px 0 0 0;
}
#td2-new{
background: #990033;
color: #FF9; 
font-weight: bold;
border-radius: 0 6px 0 0;
}